html,body, #body22 {
	
	height: 100%;
	width: 100%;
	background-position: center;
	background-position: top;
	background-repeat: no-repeat;
	background-color: black;
	color: red;
}
#body22{
	background-image: url("Images/Billy the Puppet.jpg");
}



#begin{
	position: absolute;
	top:596px;
	left:861px;
	background-color: rgba(0,0,0,0);
	border-style: none;
	color: rgba(0,0,0,0);
	font-size: 40px;
	cursor: pointer;

}

#info{
	position: absolute;
	top: 700px;
}

#key{
	display:none;
	position: absolute;
	top: 325px;
	left: 450px;
	color: rgb(117, 88, 25);
	background-color: rgba(0,0,0,0);
	border-style:none;
	cursor: pointer;
}

#pad{
	display:none;
	position:absolute;
	top:130px;
	left:535px;
	color:rgb(96, 96, 96);
	background-color: rgba(0,0,0,0);
	border-style:none;
	cursor:pointer;
}

#items{
	position:absolute;
	top:10px;
	left:10px;
}



#information{
	top:350px;
	left:350px;
	display: none;
	position: absolute;
}
#trap1{
	display: none;
	position: absolute;
	top: 600px;
	left: 250px;
}