body{
	background-image: url("Images/Billy the Puppet.jpg");
	background-size: 650px 669px;
	background-position: center;
	background-position: top;
	background-repeat: no-repeat;
	background-color: black;
	color: red;
}

#Begin{
	position: absolute;
	top:596px;
	left:861px;
	background-color: rgba(0,0,0,0);
	border-style: none;
	color: rgba(0,0,0,0);
	font-size: 30px;
	cursor: pointer;

}